.container {
  display: flex;
  height: 113px;
  width: 400px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgb(19, 18, 18, 40);
  margin: 0 15px 30px 15px;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}

.number {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
  margin: 0;

  p {
    width: 60px;
    margin: 0;
  }
}

.order {
  font-size: 20px;
}

.orderText {
  font-size: 15px;
  color: #414141;
}

.containerInfo {
  display: flex;
  flex-direction: column;
}

.contentInfo {
  height: 90px;
  display: flex;
}

.status {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cacc3b;
  color: #272626;
  margin: 8px;

  p {
    font-weight: bold;
    font-size: 20px;
  }
}

.preper {
  background-color: #427a21;
}

.delivered {
  background-color: #3498db;
}

.info {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px 0;
  color: black;
  margin: 8px 8px 8px 0;
  overflow: hidden;

  p {
    color: black;
  }
}

.data {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.price {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 5px 0 0 0;
}

.address {
  margin: 0;
  font-size: 12px;
  text-align: center;
}